<div style="display: none;"> <!-- style="display: none;" -->
	<audio id="audiojsplayer" preload="auto" />
</div>
<div class="nowplaying z-depth-1">
	<div class="container" style="vertical-align: middle;">
		<!-- <div id="jp_container_1" class="demo-container"> -->
			<div class="row">
				<div class="col s12 m9">
					<span style="white-space: nowrap;">
						<span>
							<%= image_tag "default.png", :class => "nowplayingart" %>
						</span>
						<span style="white-space: nowrap;">
							<span style="vertical-align: middle; white-space: nowrap;">
								<h5 class="nobreak"><span class="audio-title"></span></h5>
								<br />
								<span class="audio-artist"></span>
							</span>
						</span>
					</span>
				</div>
				<div class="col s12 m3" style="text-align: right;">
					<span style="white-space: nowrap;">
						<span style="display: inline-block; vertical-align: middle;">
							<a onclick="audioPrev();" style="margin: 15px; margin-top: 7px;" class="black-text">
								<i class="mdi-av-skip-previous small"></i>
							</a>
						</span>
						<span id="audio-pause" style="display: inline-block; vertical-align: middle;">
							<a onclick="audioPause();" style="margin: 0px; margin-top: 7px;" class="btn-floating btn-large waves-effect waves-light orange">
								<i class="mdi-av-pause"></i>
							</a>
						</span>
						<span id="audio-play" style="display: inline-block; vertical-align: middle;">
							<a onclick="audioPlay();" style="margin: 0px; margin-top: 7px;" class="btn-floating btn-large waves-effect waves-light orange">
								<i class="mdi-av-play-arrow"></i>
							</a>
						</span>								
						<span style="display: inline-block; vertical-align: middle;">
							<a onclick="audioNext();" style="margin: 15px; margin-top: 7px; margin-right: 5px;" class="black-text">
								<i class="mdi-av-skip-next small"></i>
							</a>
						</span>
					</span>
				</div>
			</div>
		<!-- </div> -->
	</div>
</div>

<div class="playlistDetails container">
	<% if @playlist.present? %>
		<span>
			<%= form_tag('/playlistdelete', method: :post, id: 'playlist-delete') do %>	
				<input type="hidden" name="pId" value="<%= @playlist.id %>" />
				<h4 class="nobreak"><%= @playlist.name %></h4>
				<a href="#playlist-edit-modal" class="modal-trigger black-text" class="black-text"><i class="mdi-image-edit tiny-small"></i></a>
				<a href="#!" class="black-text" onclick="parent.location.href = parent.location.href; $(this).closest('#playlist-delete').submit();"><i class="mdi-action-delete tiny-small"></i></a>
			<% end %>
		</span>
		<table id="playlist-content" class="hoverable bordered unselectable" unselectable="on">
			<thead>
				<tr>
					<th data-field="title">Title</th>
					<th data-field="artist">Artist</th>
					<th data-field="album">Album</th>
					<th data-field="actions">Actions</th>
				</tr>
			</thead>
			<tbody>
				<% if @playlistcontent.present? %>
					<% @playlistcontent.each do |playlistItem| %>
						<tr class="item-content" >
							<td class="item-title"><span><%= playlistItem.title %></span></td>
							<td class="item-artist"><span><%= playlistItem.artist %></span></td>
							<td class="item-album"><span><%= playlistItem.album %></span></td>
							<td>
								<%= form_tag('/playlistitemdelete', method: :post, id: 'playlist-item-delete') do %>	
									<input type="hidden" name="itemId" value="<%= playlistItem.id %>" />
									<a href="#" class="black-text" onclick="$(this).closest('#playlist-item-delete').submit();"><i class="mdi-action-delete"></i></a>
								<% end %>
							</td>
							<td class="item-id" style="display: none;"><span><%= playlistItem.id %></span></td>
							<td class="item-url" style="display: none;"><span><%= playlistItem.filename %></span></td>
						</tr>
					<% end %>
				<% else %>
					<tr>
						<td><span>This playlist is empty.</span></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<script>
			$('.item-content').click(function()
			{
				playSelected($(this));
			})
		</script>
	<% end %>
</div>

<div id="playlist-edit-modal" class="modal">
	<div class="modal-content">
		<h4>Edit Playlist</h4>
		<%= form_tag('/playlistedit', method: :post) do %>
			<input type="hidden" name="pId" value="<%= @playlist.id %>" />
			<div class="row">
				<div class="input-field col s12">
					<i class="mdi-image-edit prefix"></i>
			        <input id="pName" name="pName" type="text" class="validate" value="<%= @playlist.name %>">
			        <label for="pName">Name</label>
		      	</div>
			</div>
		<div class="modal-footer">
				<button type="submit" class="waves-effect waves-green btn-flat" value="Edit" onclick="parent.location.href = parent.location.href"> Edit </button>
		</div>
		<% end %>
	</div>
</div>