<body onresize="resizeFrameOnResize()">
	<header>
		<nav class="orange">
			<div class="container nav-wrapper">
				<a href="/" class="brand-logo"><%= image_tag "logo.png", :class => "logo" %></a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
				<ul class="right hide-on-med-and-down">
			        <!-- <li><a href="#"><i class="mdi-action-home"></i></a></li>
					<li><a href="#"><i class="mdi-av-queue-music"></i></a></li>
					<li><a href="#"><i class="mdi-file-file-upload"></i></a></li>
					<li><a href="#"><i class="mdi-social-person"></i></a></li> -->
					<li><a href="/" class="modal-trigger">Playlists</a></li>
					<li><a href="#upload-modal" class="modal-trigger">Upload</a></li>
					<li><a href="#" class="dropdown-button" data-activates="user-dropdown"><%= @username.username %></a></li>
			    </ul>
			    <ul class="side-nav" id="mobile-demo">
			    	<li><a href="/"class="modal-trigger">Playlists</a></li>
					<li><a href="#upload-modal" class="modal-trigger">Upload</a></li>
					<li><a href="#" class="dropdown-button" data-activates="user-dropdown"><%= @username.username %></a></li>
			    </ul>
			</div>
		</nav>
	</header>
	<main>
		<iframe id="innerplayer" name="innerplayer" src="/innerplayer" onload="this.height= ($(window).height() - $('header').height() - 10);">
		</iframe>
	</main>

	<ul id="user-dropdown" class="dropdown-content">
		<%= form_tag('/logout', method: :post, id: 'logout-button') do %>	
			<li><a href="#" onclick="$(this).closest('#logout-button').submit();">Logout</a></li>
		<% end %>
	</ul>

	<div id="upload-modal" class="modal">
		<%= form_tag({:action => "upload"}, :multipart => true) do %>
			<div class="modal-content">
				<h4>Upload</h4>
				<p>Select a file to upload.</p>
					<div class="file-field input-field">
						<input class="file-path validate" type="text" onchange="this.value = this.value.replace('C:\\fakepath\\', '');" />
						<div class="btn">
							<span>File</span>
							<%= file_field_tag 'sFile' %>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s4">
							<i class="mdi-image-audiotrack prefix"></i>
					        <input id="sTitle" name="sTitle" type="text" class="validate">
					        <label for="sTitle">Title</label>
						</div>
						<div class="input-field col s4">
							<i class="mdi-social-person prefix"></i>
					        <input id="sArtist" name="sArtist" type="text" class="validate">
					        <label for="sArtist">Artist</label>
				      	</div>
				      	<div class="input-field col s4">
							<i class="mdi-av-album prefix"></i>
					        <input id="sAlbum" name="sAlbum" type="text" class="validate">
					        <label for="sAlbum">Album</label>
						</div>
					</div>
					<div class="row" style="margin-top: -30px;"> <!-- style="margin-top: -30px;" -->
						<div class="col s12">
							<label>Playlist</label>
							<% if @playlists.present? %>
								<select id="pId" name="pId">
									<% @playlists.each do |playlist| %>
										<option value="<%= playlist.id %>"><%= playlist.name %></option>
									<% end %>
								</select>
							<% else %>
								<select id="pId" name="pId" disabled>
									<option value="" disabled selected>No playlists available.</option>
								</select>
							<% end %>
				      	</div>
					</div>
				
				<!-- </form> -->
			</div>
			<div class="modal-footer">
				<button type="submit" class="waves-effect waves-green btn-flat" value="Upload">Upload</button>
			</div>
		</div>
	<% end %>
</body>